#!/bin/sh
set -eu

SCRIPT_NAME=$(basename "$0")
echo "Running script: $SCRIPT_NAME"
echo "🚀 Installing shell framework..."

OS="{{ .chezmoi.os }}"

if [ "$OS" = "darwin" ]; then
    /opt/homebrew/bin/brew install zsh # Manage Zsh via Homebrew instead of Apple’s default
    /opt/homebrew/bin/brew install zimfw
elif [ "$OS" = "linux" ]; then
    echo "🚧 Linux detected (not supported yet)"
    exit 1
else
    echo "❌ Unsupported OS: $OS"
    exit 1
fi

echo "✅ Shell framework install complete!"
echo
